# if config.DEVELOPMENT
  <script src="/p/dev/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/dev/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="http://{{request.host.split(':')[0]}}:35729/livereload.js"></script>
# else
  <script src="/p/min/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/min/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
# endif
<script type="text/javascript">
/*Stupid jquery Table Sort*/
(function(c){c.fn.stupidtable=function(b){return this.each(function(){var a=c(this);b=b||{};b=c.extend({},c.fn.stupidtable.default_sort_fns,b);a.data("sortFns",b);a.on("click.stupidtable","thead th",function(){c(this).stupidsort()})})};c.fn.stupidsort=function(b){var a=c(this),g=0,f=c.fn.stupidtable.dir,e=a.closest("table"),k=a.data("sort")||null;if(null!==k){a.parents("tr").find("th").slice(0,c(this).index()).each(function(){var a=c(this).attr("colspan")||1;g+=parseInt(a,10)});var d;1==arguments.length?
d=b:(d=b||a.data("sort-default")||f.ASC,a.data("sort-dir")&&(d=a.data("sort-dir")===f.ASC?f.DESC:f.ASC));e.trigger("beforetablesort",{column:g,direction:d});e.css("display");setTimeout(function(){var b=[],l=e.data("sortFns")[k],h=e.children("tbody").children("tr");h.each(function(a,e){var d=c(e).children().eq(g),f=d.data("sort-value");"undefined"===typeof f&&(f=d.text(),d.data("sort-value",f));b.push([f,e])});b.sort(function(a,b){return l(a[0],b[0])});d!=f.ASC&&b.reverse();h=c.map(b,function(a){return a[1]});
e.children("tbody").append(h);e.find("th").data("sort-dir",null).removeClass("sorting-desc sorting-asc");a.data("sort-dir",d).addClass("sorting-"+d);e.trigger("aftertablesort",{column:g,direction:d});e.css("display")},10);return a}};c.fn.updateSortVal=function(b){var a=c(this);a.is("[data-sort-value]")&&a.attr("data-sort-value",b);a.data("sort-value",b);return a};c.fn.stupidtable.dir={ASC:"asc",DESC:"desc"};c.fn.stupidtable.default_sort_fns={"int":function(b,a){return parseInt(b,10)-parseInt(a,10)},
"float":function(b,a){return parseFloat(b)-parseFloat(a)},string:function(b,a){return b.localeCompare(a)},"string-ins":function(b,a){b=b.toLocaleLowerCase();a=a.toLocaleLowerCase();return b.localeCompare(a)}}})(jQuery);


/* Inspired by Tinder and Nikolay Talanov http://codepen.io/suez/*/
  var rated = 0;
  var ratings = [];
  
  function Rating(a,p,n) {
      this.a = a;
      this.p = p;
      this.n = n;
      this.up = function() {
          this.p++;
      }
      this.down = function() {
          this.n--;
      }

  }
  function addVote(array, account, vote) { //tests if account name already has ratings
      found = false;
      array.forEach(function (item, index, array) {
          //console.log(item.a, index);
          //console.log("test for" + account);
          if (item.a == account) {
              //console.log(ratings[index].p);
              if (vote > 0){
                  ratings[index].p++;
                  found = true;
              }
              else if (vote < 0){
                  ratings[index].n--;
                  found = true;
              }
          }
          });
      return(found);
  }
  
  function writeSummary() {
      var newTable = "<table class='ratings'><thead><tr><th data-sort='string'>Account</th><th data-sort='int'>Pos</th><th data-sort='int'>Neg</th></tr></thead><tbody>";
      ratings.forEach(function (item, index, array){
          newTable += "<tr><td>"+item.a+"</td><td>"+item.p+"</td><td>"+item.n+"</td></tr>";
      });
      newTable += "</tbody></table>"
      $("table.ratings").replaceWith(newTable);
      $("table.ratings").stupidtable();     
  }
  
$(document).ready(function() {


  var animating = false;
  var cardsCounter = 0;
  var numOfCards = 6;
  var decisionVal = 80;
  var pullDeltaX = 0;
  var deg = 0;
  var $card, $cardReject, $cardLike;
  
  function pullChange() { //What happens while moving a card
    animating = true;
    deg = pullDeltaX / 10;
    $card.css("transform", "translateX("+ pullDeltaX +"px) rotate("+ deg +"deg)");

    var opacity = pullDeltaX / 100;
    var rejectOpacity = (opacity >= 0) ? 0 : Math.abs(opacity);
    var likeOpacity = (opacity <= 0) ? 0 : opacity;
    $cardReject.css("opacity", rejectOpacity);
    $cardLike.css("opacity", likeOpacity);
  };

  function release() {

    if (pullDeltaX >= decisionVal) { //if content was is positive
      $card.addClass("to-right");
      var account = $card.contents().find("p.demo__card__name").text();
      if (addVote(ratings, account, 1) == false) {
          ratings.push(new Rating(account, 1, 0));
      }
      writeSummary();
    } else if (pullDeltaX <= -decisionVal) { //if content is negative
      $card.addClass("to-left");
      var account = $card.contents().find("p.demo__card__name").text();
      if (addVote(ratings, account, -1) == false) {
          ratings.push(new Rating(account, 0, -1));
      }
      writeSummary();
      }

    if (Math.abs(pullDeltaX) >= decisionVal) {
      $card.addClass("inactive");

      setTimeout(function() {
        $card.addClass("below").removeClass("inactive to-left to-right");
        cardsCounter++;
        if (cardsCounter === numOfCards) {
          cardsCounter = 0;
          $(".demo__card").removeClass("below");
        }
      }, 300);
    }

    if (Math.abs(pullDeltaX) < decisionVal) {
      $card.addClass("reset");
    }

    setTimeout(function() {
      $card.attr("style", "").removeClass("reset")
        .find(".demo__card__choice").attr("style", "");

      pullDeltaX = 0;
      animating = false;
    }, 300);
  };

  $(document).on("mousedown touchstart", ".demo__card:not(.inactive)", function(e) {
    if (animating) return;

    $card = $(this);
    $cardReject = $(".demo__card__choice.m--reject", $card);
    $cardLike = $(".demo__card__choice.m--like", $card);
    var startX =  e.pageX || e.originalEvent.touches[0].pageX;

    $(document).on("mousemove touchmove", function(e) {
      var x = e.pageX || e.originalEvent.touches[0].pageX;
      pullDeltaX = (x - startX);
      if (!pullDeltaX) return;
      pullChange();
    });

    $(document).on("mouseup touchend", function() {
      $(document).off("mousemove touchmove mouseup touchend");
      if (!pullDeltaX) return; // prevents from rapid click events
      release();
    });
  });

});
</script>