# if config.DEVELOPMENT
  <script src="/p/dev/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/dev/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="http://{{request.host.split(':')[0]}}:35729/livereload.js"></script>
# else
  <script src="/p/min/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/min/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
# endif
<script type="text/javascript">
/*Stupid jquery Table Sort*/
(function(c){c.fn.stupidtable=function(b){return this.each(function(){var a=c(this);b=b||{};b=c.extend({},c.fn.stupidtable.default_sort_fns,b);a.data("sortFns",b);a.on("click.stupidtable","thead th",function(){c(this).stupidsort()})})};c.fn.stupidsort=function(b){var a=c(this),g=0,f=c.fn.stupidtable.dir,e=a.closest("table"),k=a.data("sort")||null;if(null!==k){a.parents("tr").find("th").slice(0,c(this).index()).each(function(){var a=c(this).attr("colspan")||1;g+=parseInt(a,10)});var d;1==arguments.length?
d=b:(d=b||a.data("sort-default")||f.ASC,a.data("sort-dir")&&(d=a.data("sort-dir")===f.ASC?f.DESC:f.ASC));e.trigger("beforetablesort",{column:g,direction:d});e.css("display");setTimeout(function(){var b=[],l=e.data("sortFns")[k],h=e.children("tbody").children("tr");h.each(function(a,e){var d=c(e).children().eq(g),f=d.data("sort-value");"undefined"===typeof f&&(f=d.text(),d.data("sort-value",f));b.push([f,e])});b.sort(function(a,b){return l(a[0],b[0])});d!=f.ASC&&b.reverse();h=c.map(b,function(a){return a[1]});
e.children("tbody").append(h);e.find("th").data("sort-dir",null).removeClass("sorting-desc sorting-asc");a.data("sort-dir",d).addClass("sorting-"+d);e.trigger("aftertablesort",{column:g,direction:d});e.css("display")},10);return a}};c.fn.updateSortVal=function(b){var a=c(this);a.is("[data-sort-value]")&&a.attr("data-sort-value",b);a.data("sort-value",b);return a};c.fn.stupidtable.dir={ASC:"asc",DESC:"desc"};c.fn.stupidtable.default_sort_fns={"int":function(b,a){return parseInt(b,10)-parseInt(a,10)},
"float":function(b,a){return parseFloat(b)-parseFloat(a)},string:function(b,a){return b.localeCompare(a)},"string-ins":function(b,a){b=b.toLocaleLowerCase();a=a.toLocaleLowerCase();return b.localeCompare(a)}}})(jQuery);

var colors = ['brown', 'purple', 'blue', 'indigo', 'cyan', 'lime'];



/* Inspired by Tinder and Nikolay Talanov http://codepen.io/suez/*/
  var first = true;
  var ratings = [];
  var loggedIn = false;
  var max_tweet_id = 0;
  
  function Rating(a,p,n) {
      this.a = a;
      this.p = p;
      this.n = n;

  }
  function addVote(array, account, vote) { //tests if account name already has ratings
      found = false;
      array.forEach(function (item, index, array) {
          //console.log(item.a, index);
          //console.log("test for" + account);
          if (item.a == account) {
              //console.log(ratings[index].p);
              if (vote > 0){
                  ratings[index].p++;
                  found = true;
              }
              else if (vote < 0){
                  ratings[index].n--;
                  found = true;
              }
          }
          });
      return(found);
  }
  
  function loadLocalRatings(){
      var localRatingsString = localStorage.getItem('localRatings');
      ratings = JSON.parse(localRatingsString);
      var time_of_last_swipe = localStorage.getItem('time_of_last_swipe'); //last time of activity in milliseconds
      var d = new Date();
      var n = d.getTime();
      if (n - time_of_last_swipe > 21600000) { //falls letzte activity mehr als 6 Stunden her     
      }
      else {
          max_tweet_id =  localStorage.getItem('max_tweet_id'); //mach weiter, wo zuletzt aufgehört wurde
      }
      
      //console.log(ratings);
      writeSummary();
  }
  
  function saveLocalRatings(){
      localStorage.setItem('localRatings', JSON.stringify(ratings));
      localStorage.setItem('max_tweet_id', max_tweet_id); 
      var d = new Date();
      var n = d.getTime(); 
      localStorage.setItem('time_of_last_swipe', n)
      //console.log(JSON.stringify(ratings));
  }
  function deleteLocalRatings(){
      ratings = [];
      saveLocalRatings();
      writeSummary();
  }
  
  function writeSummary() { //create table with ratings
      var newTable = "<table class='ratings'><thead><tr><th data-sort='string'>Account</th><th data-sort='int'>Neg</th><th data-sort='int' data-sort-default='desc'>Pos</th></tr></thead><tbody>";
      ratings.forEach(function (item, index, array){
          newTable += "<tr><td><a href='https://twitter.com/"+item.a+"'>"+item.a+"</a></td><td>"+item.n+"</td><td>"+item.p+"</td></tr>";
      });
      newTable += "</tbody></table>"
      $("table.ratings").replaceWith(newTable);
      var $table = $("table.ratings").stupidtable();
      //var $thsort = $table.find("thead th").eq(1);
      //$thsort.stupidsort('desc');
      saveLocalRatings();
  }
  
$(document).ready(function() {
    if($("span.fa-sign-in").length){
        loggedIn = false;
    }
    else{
        loggedIn = true;
    }
    $(".reset-ratings").click(function() {
        deleteLocalRatings();
    });
    $(".undo-last-swipe").click(function() {
        undoLastSwipe();
    });
    
    function undoLastSwipe(){
        var account = $(".last_swipe").contents().find("p.demo__card__name").text();
        if ($(".last_swipe").hasClass("to-right")) { 
             ratings.forEach(function (item, index, array){
                 if (item.a == account){
                     item.p--;
                 }
             });
        }
        else if ($(".last_swipe").hasClass("to-left")) { 
             ratings.forEach(function (item, index, array){
                 if (item.a == account){
                     item.n++;
                 }
             });
        }
        $(".last_swipe").removeClass("to-left to-right inactive last_swipe zback");
        writeSummary();
        cardsCounter--;
    }

    function replaceCards(){  
        if (loggedIn == true) {
            loadLocalRatings();
        }
 
        if (first == true && loggedIn == true){
            first = false;
            //ratings = loadLocalRatings();
            $("table.ratings").replaceWith("<table class='ratings'></table>")
        }
        if (first == true && loggedIn == false) {
            numOfCards = 0;
            $("div.demo__card-cont").replaceWith('<div class="demo__card-cont"><a class="btn btn-lg btn-block btn-social btn-twitter" href="https://wischwasch2.appspot.com/signin/twitter/?next=https%3A%2F%2Fwischwasch2.appspot.com%2F&amp;remember=true" title="" rel="nofollow"><span class="fa fa-twitter"></span>Sign in with Twitter</a></div>')
        }
        if (first == false && loggedIn == true) {
            $("div.demo__card-cont").replaceWith('<div class="demo__card-cont"><div class="holder"><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div></div></div>');
    $.getJSON('tweets.json?max_id='+max_tweet_id, function(data) {
        //console.log("got new tweets");
        newCards = '<div class="demo__card-cont">';
        data.tweets.forEach(function(item) {
            newCards += '<div class="demo__card" data-tweetId="'+item.id+'"><div class="demo__card__btm"><p class="demo__card__we">';
            newCards += item.status;    
            newCards += '</div><div class="demo__card__top '+colors[Math.floor(Math.random()*colors.length)] +'"><div class="demo__card__img" style="background-image:url('+item.avatar.replace('http','https')+')"></div><p class="demo__card__name">';
            newCards += item.account;
            newCards += '</div><div class="demo__card__choice m--reject"></div><div class="demo__card__choice m--like"></div><div class="demo__card__drag"></div></div>'

    });
    newCards += '</div>';
    numOfCards = data.tweets.length;
    $("div.demo__card-cont").replaceWith(newCards);
    //max_tweet_id = data.max_tweet_id; 
    writeSummary();
    }).fail( function(data, textStatus, error) {
        console.error("getJSON failed, status: " + textStatus + ", error: "+error);
    });
    }};


  var animating = false;
  var cardsCounter = 0;
  var numOfCards = 4;
  var decisionVal = 80;
  var pullDeltaX = 0;
  var deg = 0;
  var $card, $cardReject, $cardLike;
  if (loggedIn == true){
    replaceCards();}
  
  function pullChange() { //What happens while moving a card
    animating = true;
    deg = pullDeltaX / 10;
    $card.css("transform", "translateX("+ pullDeltaX +"px) rotate("+ deg +"deg)");

    var opacity = pullDeltaX / 100;
    var rejectOpacity = (opacity >= 0) ? 0 : Math.abs(opacity);
    var likeOpacity = (opacity <= 0) ? 0 : opacity;
    $cardReject.css("opacity", rejectOpacity);
    $cardLike.css("opacity", likeOpacity);
  };

  function release() {

    if (pullDeltaX >= decisionVal) { //if content was is positive
      $(".last_swipe").removeClass("last_swipe");
      $card.addClass("to-right last_swipe");
      var account = $card.contents().find("p.demo__card__name").text();
      if (addVote(ratings, account, 1) == false) {
          ratings.push(new Rating(account, 1, 0));
      }
      max_tweet_id = $card.data("tweetId");
      writeSummary();
      //saveLocalRatings();
    } else if (pullDeltaX <= -decisionVal) { //if content is negative
      $(".last_swipe").removeClass("last_swipe");
      $card.addClass("to-left last_swipe");
      var account = $card.contents().find("p.demo__card__name").text();
      if (addVote(ratings, account, -1) == false) {
          ratings.push(new Rating(account, 0, -1));
      }
      max_tweet_id = $card.data("tweetId");
      writeSummary();
      //saveLocalRatings();
      }

    if (Math.abs(pullDeltaX) >= decisionVal) {
      $card.addClass("inactive");

      setTimeout(function() {
        $card.addClass("below").removeClass("inactive to-left to-right");
        cardsCounter++;
        if (cardsCounter === numOfCards) {
          cardsCounter = 0;
         //$(".demo__card").removeClass("below");
          replaceCards(); //loads new deck of cards
        }
      }, 300);
    }

    if (Math.abs(pullDeltaX) < decisionVal) {
      $card.addClass("reset");
    }

    setTimeout(function() {
      $card.attr("style", "").removeClass("reset")
        .find(".demo__card__choice").attr("style", "");

      pullDeltaX = 0;
      animating = false;
    }, 300);
  };

  $(document).on("mousedown touchstart", ".demo__card:not(.inactive)", function(e) {
    if (animating) return;

    $card = $(this);
    $cardReject = $(".demo__card__choice.m--reject", $card);
    $cardLike = $(".demo__card__choice.m--like", $card);
    var startX =  e.pageX || e.originalEvent.touches[0].pageX;

    $(document).on("mousemove touchmove", function(e) {
      var x = e.pageX || e.originalEvent.touches[0].pageX;
      pullDeltaX = (x - startX);
      if (!pullDeltaX) return;
      pullChange();
    });

    $(document).on("mouseup touchend", function() {
      $(document).off("mousemove touchmove mouseup touchend");
      if (!pullDeltaX) return; // prevents from rapid click events
      release();
    });
  });
  
  $(document).keydown(function(e){
    if (cardsCounter === numOfCards){
    }
    else if (e.keyCode == 39) { //press arrow right, positive
        $(".zback").remove();
        $(".to-right:not(.zback)").last().addClass("zback");
        $card = $(".demo__card:not(.inactive)").last();
        $(".last_swipe").removeClass("last_swipe");
        $card.addClass("to-right inactive last_swipe");
        var account = $card.contents().find("p.demo__card__name").text();
        if (addVote(ratings, account, 1) == false) {
          ratings.push(new Rating(account, 1, 0));
        }
        max_tweet_id = $card.data("tweetId");
        writeSummary();
        cardsCounter++;
    }
    else if (e.keyCode == 37) { //press arrow left, negative
        $(".zback").remove();
        $(".to-left:not(.zback)").last().addClass("zback");
        $card = $(".demo__card:not(.inactive)").last();
        $(".last_swipe").removeClass("last_swipe");
        $card.addClass("to-left inactive last_swipe");
        var account = $card.contents().find("p.demo__card__name").text();
        if (addVote(ratings, account, -1) == false) {
          ratings.push(new Rating(account, 0, -1));
        }
        max_tweet_id = $card.data("tweetId");
        writeSummary();
        cardsCounter++;
    }
    else if (e.which === 90 && e.ctrlKey){
        undoLastSwipe();
    }
    if (cardsCounter === numOfCards) {
        cardsCounter = 0;
        replaceCards();} //loads new deck of cards
});

});


</script>