# extends 'base.html'



# block header
# endblock

# block content
<div class="demo">
  <header class="demo__header"></header>
  <div class="demo__content">
    <div class="demo__card-cont">
      <div class="demo__card">

        <div class="demo__card__btm">
          <p class="demo__card__we">If men gave birth to babies, there would not be a lot of discussion regarding the right to choose.</p>
        </div>
        
        <div class="demo__card__top brown">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">@SenSanders</p>
        </div>
        
        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
      <div class="demo__card">
          
        <div class="demo__card__btm">
          <p class="demo__card__we">"The first duty of digital government is to keep citizens data safe." @MattHancockMP #kasopendata</p>
        </div>
        
        <div class="demo__card__top lime">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">@tobiasknobloch</p>
        </div>
        
        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
        
      </div>
      <div class="demo__card">

            
        <div class="demo__card__btm">
          <p class="demo__card__we">Über die Zukunft hatte ich mir nie groß Gedanken gemacht. Sie schien immer weit weg. Irgendwo hinter George Orwell. http://wp.me/p94Px-6z1 </p>
        </div>
        <div class="demo__card__top cyan">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">@500beine</p>
        </div>

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
      <div class="demo__card">

        <div class="demo__card__btm">
          <p class="demo__card__we">Yes, I am working on a tool, so you can visualize your network easily yourself. No, there is no signup list.</p>
        </div>
        <div class="demo__card__top indigo">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">@luca</p>
        </div>
        
        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
      <div class="demo__card">

        <div class="demo__card__btm">
          <p class="demo__card__we">Video first look at the $15 64-bit computer. https://www.facebook.com/RobertScoble/videos/10153754056784655/ It's amazing to me they can build it for so little.</p>
        </div>
        <div class="demo__card__top blue">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">@Scobleizer</p>
        </div>

        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
      <div class="demo__card">

        <div class="demo__card__btm">
          <p class="demo__card__we">:WHAT A TIME TO BE ALIVE! </p>
        </div>
        <div class="demo__card__top purple">
          <div class="demo__card__img"></div>
          <p class="demo__card__name">@JonyIveParody</p>
        </div>
        
        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
    </div>
    <p class="demo__tip">Swipe left or right</p>
    <table class="ratings">
    </table>
  </div>
</div>
# endblock
